In [1]:
ASet = {"cat", "dog", "parrot"}
AList = ["cat", "dog", "parrot"]
ATuple = ("cat", "dog", "parrot")

print(type(ASet), type(AList), type(ATuple))

<class 'set'> <class 'list'> <class 'tuple'>

In [3]:
print(AList[0], ATuple[0])

cat cat

In [4]:
print(ASet[0])

TypeError: 'set' object is not subscriptable

In [16]:
for i,j,k in AList, ATuple, ASet:
    print(i,j,k)

cat dog parrot
cat dog parrot
cat dog parrot

In [17]:
BSet = {"dog", "parrot", "cat"}
BList = ["dog", "parrot", "cat"]
BTuple = ("dog", "parrot", "cat")

In [20]:
print(ASet == BSet)
print(AList == BList)
print(ATuple == BTuple)

True
False
False

In [25]:
CSet = {"cat", "dog", "parrot", "dog"}
CList = ["cat", "dog", "parrot", "dog"]
CTuple = ("cat", "dog", "parrot", "dog")

In [26]:
print(CSet)
print(CList)
print(CTuple)

{'cat', 'dog', 'parrot'}
['cat', 'dog', 'parrot', 'dog']
('cat', 'dog', 'parrot', 'dog')

In [29]:
pets_set = {"Cool guy", "Rover", "Fido"}
sorted_pets = sorted(pets_set)

In [32]:
print(type(pets_set))
print(sorted_pets, type(sorted_pets))

<class 'set'>
['Cool guy', 'Fido', 'Rover'] <class 'list'>

In [35]:
range(pets_set)

TypeError: 'set' object cannot be interpreted as an integer

In [45]:
lst = set(range(0,10))
print(lst)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [48]:
num = 2**100
num = str(num)
print(len(num))

31

In [49]:
I100 = set(range(1,101))

In [50]:
Universe = I100

In [59]:
Evens = set()

for i in Universe:
    if i %2 == 0:
        Evens.add(i)
print(Evens)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100}

In [60]:
Evens_comp = {x for x in Universe if x%2 == 0}
print(Evens_comp)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100}

In [61]:
print(Evens_comp == Evens)

True

In [63]:
Evens_comp = {x**2 for x in Universe if x%2 == 0}
print(Evens_comp)

{256, 1024, 2304, 4096, 4, 900, 1156, 3844, 4356, 6400, 8836, 9604, 10000, 16, 144, 400, 784, 1296, 1936, 2704, 3600, 4624, 5776, 9216, 36, 676, 1444, 3364, 4900, 8100, 7056, 7744, 64, 576, 1600, 3136, 196, 324, 2116, 2500, 5184, 6084, 6724, 8464, 100, 484, 1764, 2916, 5476, 7396}

In [68]:
odds_comp = {x for x in Universe if x%2 != 0}
print(odds_comp)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99}

In [70]:
HalfOne = {x for x in Universe if x <= 50}
print(HalfOne)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}

In [76]:
Div3 = {x for x in Universe if x %3 == 0}
Div4 = {x for x in Universe if x %4 == 0}
Div5 = {x for x in Universe if x %5 == 0}

print(Div3)
print(Div4)
print(Div5)

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99}
{4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100}
{5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100}

In [79]:
print(Div3 & Div4) #intersection

{96, 36, 72, 12, 48, 84, 24, 60}
{96, 36, 72, 12, 48, 84, 24, 60}

In [86]:
print(Div3 | Div5) #union

{3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100}

In [89]:
print(Div3 - Div5) #difference

{3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99}

In [90]:
print(Div3 ^ Div5) #symmetric_difference

{3, 5, 6, 9, 10, 12, 18, 20, 21, 24, 25, 27, 33, 35, 36, 39, 40, 42, 48, 50, 51, 54, 55, 57, 63, 65, 66, 69, 70, 72, 78, 80, 81, 84, 85, 87, 93, 95, 96, 99, 100}

In [93]:
def comp(a_set):
    return Universe - a_set

print(comp(Evens))

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99}

In [95]:
Div3 | (Div4 & Div5) == ((Div3 | Div4) & (Div3 | Div5))

True