In [1]:
d = {"Joe" : 175, "Tom" : 190, "Dick" : 150}
print(d)

{'Joe': 175, 'Tom': 190, 'Dick': 150}

In [2]:
d["Harry"] = 180
print(d)

{'Joe': 175, 'Tom': 190, 'Dick': 150, 'Harry': 180}

In [3]:
d.pop("Joe") #or del d["Joe"]
print(d)

{'Tom': 190, 'Dick': 150, 'Harry': 180}

In [4]:
print(d["Dick"])

150

In [5]:
sum = 0
for values in d.values(): 
    sum += values
print(sum)

520

In [6]:
returned_items = d.items()
print(returned_items, type(returned_items))

dict_items([('Tom', 190), ('Dick', 150), ('Harry', 180)]) <class 'dict_items'>

In [7]:
for item in returned_items:
    print(item)

('Tom', 190)
('Dick', 150)
('Harry', 180)

In [8]:
try:
    print(returned_items[0])
except:
    print("Error")

Error

In [9]:
print(list(returned_items)[0])

('Tom', 190)

In [10]:
print(sorted(returned_items)[0])

('Dick', 150)

In [12]:
s = "Mississippi"
d = {}
for l in s:
    if l in d:
        d[l] += 1
    else:
        d[l] = 1
        
for key in d.keys():
    print(key,d[key])

M 1
i 4
s 4
p 2

In [18]:
s = "Mississippi"
d = {}

for l in s:
    d[l] = d.get(l,0) + 1
    
for key in d.keys():
    print(key,d[key])

M 1
i 4
s 4
p 2

In [29]:
s = str(2**100)
d = {}

for l in s:
    d[l] = d.get(l,0) + 1
    
sum = 0
for key in d.keys():
    sum += d[key]
print(sum)
print(s)
for key in d.keys():
    print(key,d[key])

31
1267650600228229401496703205376
1 2
2 6
6 5
7 3
5 2
0 6
8 1
9 2
4 2
3 2

In [47]:
s = "This is just a proof of generality"
l = list(s)
d = {}

for i in l:
    d[i] = d.get(i,0) + 1

for key in d.keys():
    print(key,d[key])

T 1
h 1
i 3
s 3
  6
j 1
u 1
t 2
a 2
p 1
r 2
o 3
f 2
g 1
e 2
n 1
l 1
y 1

In [62]:
d = {"Tom":1, "Dick":2, "Harry":3}
li = list(d.items())
li.sort()
print(li)

[('Dick', 2), ('Harry', 3), ('Tom', 1)]
<class 'list'>

In [61]:
reverse = []

for key,value in li:
    reverse.append((value,key))

print(reverse)

[(2, 'Dick'), (3, 'Harry'), (1, 'Tom')]

In [63]:
rev_d = dict(reverse)
print(rev_d, type(rev_d))

{2: 'Dick', 3: 'Harry', 1: 'Tom'} <class 'dict'>