In [6]:
count = 0
average = 0
total = 0


while True:
    try:
        num = input("Enter a number:")

        if num == 'done':
            break

        num = int(num)

        total += num
        count += 1
        average = total / count



    except:
        print("invalid input")
        
print("Total: ",total, "Count: ",count, "Average: ",average)

Enter a number:4
Enter a number:5
Enter a number:bad data
invalid input
Enter a number:7
Enter a number:done
Total:  16 Count:  3 Average:  5.333333333333333

In [9]:
max_value = 0
min_value = 0

while True:
    try:
        num = input("Enter a number:")
        if num == 'done':
            break
        num = int(num)
        if num > max_value:
            max_value = num
        if num < min_value:
            min_value = num
        
    except:
        print("invalid input")
        
print("Maximum: ",max_value, "Minimum: ", min_value)

Enter a number:6
Enter a number:5
Enter a number:7
Enter a number:10
Enter a number:20
Enter a number:30
Enter a number:-1
Enter a number:99
Enter a number:500
Enter a number:-600
Enter a number:done
Maximum:  500 Minimum:  -600

In [1]:
fruit = 'banana'

In [2]:
letter = fruit[1]

In [3]:
print(letter)

a

In [4]:
letter = fruit[0]

In [5]:
print(letter)

b

In [6]:
len(fruit)

6

In [7]:
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index += 1

b
a
n
a
n
a

In [8]:
index = len(fruit)
while index > 0:
    letter = fruit[index - 1]
    print(letter)
    index -= 1

a
n
a
n
a
b

In [9]:
for a_letter in fruit:
    print(a_letter)

b
a
n
a
n
a

In [14]:
a_string = 'Monty Python'
print(a_string[6:])

Python

In [15]:
print(fruit[:])

banana

In [16]:
print(a_string[:])

Monty Python

In [22]:
s = input("Enter a word:")
l = input("Enter a letter:")

def count(word,letter):
    total = 0
    for char in word:
        if char == letter:
            total += 1
    print(total)
count(s,l)

Enter a word:banana
Enter a letter:a
3

In [29]:
word = 'PINEAPPLES'
word = word.lower()

if word < 'banana':
    print('Your word, ' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word, ' + word + ', comes after banana.')
else:
    ('All right, bananas.')

Your word, pineapples, comes after banana.

In [30]:
dir(word)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [31]:
word.capitalize()

'Pineapples'

In [32]:
word.upper()

'PINEAPPLES'

In [4]:
word = 'banana'
substring = 'a'
word.count(substring,2,6)

2

In [5]:
temp = 5
temp1 = 0.11
temp2 = 'camelssss'

print("In %d years I have spotted %g %s." %(temp, temp1, temp2))

In 5 years I have spotted 0.11 camelssss.

In [20]:
str = 'X-DSPAM-Confidence: 0.8475 '
fpos = str.find(':')
epos = len(str)
temp = str[fpos + 1:epos-1]
temp = float(temp)
print(temp)

0.8475

In [2]:
i = 8
j = 9
i,j = j,i
print(i,j)

9 8

In [1]:
sqrt(2)

NameError: name 'sqrt' is not defined

In [3]:
import math
math.sqrt(2)

1.4142135623730951

In [14]:
import math

def circle_area(r):
    area = math.pi * r**2
    return area

circle_area(2)

12.566370614359172

In [15]:
circle_area(3)

28.274333882308138

In [21]:
temp = circle_area(2)
print(temp)

12.566370614359172

In [22]:
temp

12.566370614359172

In [26]:
def quad(a,b,c,x):
    return a*x**2 + b*x + c

print(quad(1,-7,12,1), quad(1,-7,12,2), quad(1,-7,12,3), quad(1,-7,12,4), quad(1,-7,12,5))

6 2 0 0 2

In [6]:
def quad(a,b,c,x):
    result = a*x**2 + b*x + c
    print("a=",a)
    print("b=",b)
    print("c=",c)
    print("x=",x)
    print("result=",result)
    
quad(1,-7,12,1)

a= 1
b= -7
c= 12
x= 1
result= 6

In [4]:
def divisible(m,n):
    return m%n == 0

divisible(4,2)

True

In [8]:
divisible(5,3)

False

In [12]:
def fb(n):
    if divisible(n,15):
        print("fizzbuzz")

    if divisible(n,5) and not divisible(n,3):
        print("buzz")
        
    if divisible(n,3) and not divisible(n,5):
        print("fizz")
  
    if not (divisible(n,5) or divisible(n,3)):
        print("shucks")

fb(6)
fb(7)
fb(10)
fb(15)

fizz
shucks
buzz
fizzbuzz

In [4]:
def sleep_in(weekday,vacation):
    return weekday == False or vacation == True

In [9]:
print(sleep_in(True,True))
print(sleep_in(True,False))
print(sleep_in(False,True))
print(sleep_in(False,False))

True
False
True
False

In [1]:
def monkey_trouble(a_smile,b_smile):
    return (a_smile and b_smile) or not (a_smile or b_smile)

print(monkey_trouble(True,True))
print(monkey_trouble(True,False))
print(monkey_trouble(False,True))
print(monkey_trouble(False,False))

True
False
False
True

In [9]:
def sum_double(a,b):
    sum = a+b
    if a == b:
        sum *= 2
    return sum

print(sum_double(1, 2))
print(sum_double(3, 2)) 
print(sum_double(2, 2))

3
5
8

In [12]:
def diff21(n):
    if n < 21:
        return abs(21-n)
    else:
        return (abs(21-n)) *2

print(diff21(19))
print(diff21(10))
print(diff21(21))
print(diff21(24))

2
11
0
6

In [15]:
inp = (input())

4

In [16]:
type(inp)

str

In [17]:
inp = float(inp)
type(inp)

float

In [20]:
muffins = 3
cupcakes = 2

while True:
	inp = input()
	if inp == '0':
		break
	
	if inp == 'muffin':
		muffins -= 1
	else:
		cupcakes -= 1
	
	if muffins == 0 or cupcakes == 0:
		print("Out of stocks")
		print("muffins:",muffins,"cupcakes:",cupcakes)
		break
        
print("muffins:",muffins,"cupcakes:",cupcakes)

muffin
muffin
cupcake

NameError: name 'cupcake' is not defined

In [22]:
count = 0

while True:
	inp = input()
	if inp == 'goose':
		break
	if inp == 'duck':
		count += 1
		
print(count)

duck
duck
goose
2

In [25]:
i = 0
j = 1
n = 6

while n-2 > 0:
	k = i+j
	i = j
	j = k
	n -= 1
print(k)

5

In [33]:
def fibonacci(n):
    i = 0
    j = 1
    while n-2 > 0:
        k = i+j
        i = j
        j = k
        n -= 1
    return k

fibonacci(8)

13

In [36]:
letters = ['a','b','c']

for i in letters:
	for j in letters:
		print(i+j)

aa
ab
ac
ba
bb
bc
ca
cb
cc

In [10]:
i = 0
while i < 5:
    print(i)
    i = i + 1

0
1
2
3
4

In [11]:
i = 0
while i <= 5:
    print(i)
    i = i + 1

0
1
2
3
4
5

In [12]:
i = 0
while i < 5:
    i = i + 1
    print(i)

1
2
3
4
5

In [13]:
i = 0
while i <= 5:
    i = i + 1
    print(i)

1
2
3
4
5
6

In [3]:
while True:
    try:
        inp = int(input("Enter an integer: "))
        break
    except:
        print("Try again")
print("Valid input")

Enter an integer:
Try again
Enter an integer: r
Try again
Enter an integer: d
Try again
Enter an integer: f
Try again
Enter an integer: h
Try again
Enter an integer: 4.3
Try again
Enter an integer: 1/2
Try again
Enter an integer: 1
Valid input

In [ ]:
def avg_the_list(n_list):
    total = 0
    for i in n_list:
        total+=i
    return total/len(n_list)

test_list = [1,2,3,4,5]
print(avg_the_list(test_list))

In [3]:
def avg_the_odds(n_list):
    total = 0
    n = 0
    for i in n_list:
        if i%2 != 0:
            total += i
            n += 1
    return total/n

test_list = [1,2,3,4,5,7,11]
print(avg_the_odds(test_list))

5.4

In [6]:
def largest(n_list):
    max = 0
    for i in n_list:
        if i > max:
            max = i
    return max

list = [1,-5,16,76,127,4]
print(largest(list))

127

In [8]:
def smallest(n_list):
    min = 0
    for i in n_list:
        if i < min:
            min = i
    return min

list = [1,-5,16,76,127,4]
print(smallest(list))

-5

In [1]:
my_name = "Yoonjun Chang"
second = my_name[1]
print(second)

o

In [6]:
len(my_name)

13

In [9]:
my_name[len(my_name)-1]

'g'

In [22]:
i = 0
while i < len(my_name):
    print(my_name[i])
    i+=1

Y
o
o
n
j
u
n

C
h
a
n
g

In [23]:
for i in my_name:
    print(i)

Y
o
o
n
j
u
n

C
h
a
n
g

In [7]:
straddle = my_name[6:9]
print(straddle)

n C

In [98]:
my_name = "Yoonjun Chang"
blank_pos = my_name.find(" ")

first_name = my_name[:7]
last_name = my_name[8:]

print(first_name)
print(last_name)

Yoonjun
Chang

In [25]:
my_name = "Yoonjun Chang"
blank_pos = 7
blank_pos_2 = my_name.find(' ')
blank_pos == blank_pos_2

True

In [8]:
lower_name = my_name.lower()
cap_name = lower_name.capitalize()
upper_name = lower_name.upper()

print(cap_name)
print(upper_name)

Yoonjun chang
YOONJUN CHANG

In [21]:
def check(name):
    return name[-3:] == "sen" or name[-3:] == "son" #string.endswith("text")

check("Smith")

False

In [1]:
s= "abc"
s = "A" + s[1:]
print(s)

Abc

In [6]:
vowel = "aeiouAEIOU"
temp = "Use this fact"

new_string = ""

for i in temp:
    if i in vowel:
        new_string+=i
        
print(new_string)

Ueia

In [8]:
file = input("Enter a filename: ")

pos = file.find('.')
fileName = file[pos+1:]

print(fileName)

Enter a filename: file.py
py

In [6]:
west_coast = ['Alaska','Washington','Oregon','California']
print(west_coast)

['Alaska', 'Washington', 'Oregon', 'California']

In [7]:
for state in west_coast:
    print(state)

Alaska
Washington
Oregon
California

In [8]:
print(west_coast[1])

Washington

In [10]:
print(len(west_coast))

4

In [14]:
print(range(4))
print(len(range(4)))
print(type(range(4)))

range(0, 4)
4
<class 'range'>

In [15]:
opposite_corner = ['Florida','Georgia','South Carolina']
corners = west_coast + opposite_corner
print(corners)

['Alaska', 'Washington', 'Oregon', 'California', 'Florida', 'Georgia', 'South Carolina']

In [16]:
corners.append('North Carolina')
print(corners)

['Alaska', 'Washington', 'Oregon', 'California', 'Florida', 'Georgia', 'South Carolina', 'North Carolina']

In [17]:
corners.insert(4,'Alabama')
print(corners)

['Alaska', 'Washington', 'Oregon', 'California', 'Alabama', 'Florida', 'Georgia', 'South Carolina', 'North Carolina']

In [22]:
bool_values = [True,False]

for p in bool_values:
    for q in bool_values:
        for r in bool_values:
            print(p,q,r)

True True True
True True False
True False True
True False False
False True True
False True False
False False True
False False False

In [61]:
import random
randlist = list()

for i in range(20):
    randlist.append(random.randint(0,100))

print(randlist)

[89, 76, 63, 0, 15, 71, 69, 29, 43, 28, 6, 52, 11, 13, 100, 74, 19, 12, 1, 16]

In [62]:
randlist.sort()
print(randlist)

[0, 1, 6, 11, 12, 13, 15, 16, 19, 28, 29, 43, 52, 63, 69, 71, 74, 76, 89, 100]

In [63]:
sorted_list = randlist.sort()
print(sorted_list)

None

In [67]:
appended_list = randlist.append(1)
print(appended_list)
print(randlist)

None
[0, 1, 6, 11, 12, 13, 15, 16, 19, 28, 29, 43, 52, 63, 69, 71, 74, 76, 89, 100, 1, 1, 1]

In [65]:
#sort and append functions are void functions
#if you do append right side of statement

In [17]:
list = [1,2,2,3,2,4]
var = 2

def how_many_a_in_li(a,li):
    count = 0
    for i in li:
        if i == a:
            count += 1
    return count

how_many_a_in_li('a','Mary had a little lamb')

4

In [27]:
list1 = [1,2,3]
list2 = [4,5,6]

list3 = list1+list2
print(list3)

list1.append(list2)
print(list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, [4, 5, 6]]

In [18]:
list = [1,2,3,3,4,1,5,5,5]
def undup(l):
    index = l[0]
    new_list = []
    for i in l:
        if i == index:
            continue
        else:
            new_list.append(i)
            index = i
    return new_list

print(sorted(undup(list)))

[1, 2, 3, 4, 5]

In [5]:
list = "yyyooouu"

def undup(l):
    final = []
    for i in l:
        if i not in final:
            final.append(i)
    return final

undup(list)

['y', 'o', 'u']

In [ ]:
list = [1,2,3,4,5]

def numres(nl):
    sum = 0
    for i in nl:
        sum += i
    return [len(nl),sum,sum/len(nl)]

print(numres(list))

In [12]:
xlist = [1,["a","b",["x","y"]]]
print(xlist)

[1, ['a', 'b', ['x', 'y']]]

In [15]:
print(xlist[0])

1

In [16]:
print(xlist[1][1])

b

In [22]:
print(xlist[1][2][1])

y

In [5]:
a=1
b=2
c=3
a,b,c = c,a,b
print(a,b,c)

3 1 2