In [1]:
tup1 = 'a','b','c'
tup2 = ('a','b','c')

print(tup1,type(tup1))
print(tup2,type(tup2))

('a', 'b', 'c') <class 'tuple'>
('a', 'b', 'c') <class 'tuple'>

In [2]:
print(tup1[0])
print(tup1[:2])

a
('a', 'b')

In [3]:
tup3 = (1,2,3)

print(tup1 + tup3)
print(tup1*2)
print((tup1+tup3)*2)

('a', 'b', 'c', 1, 2, 3)
('a', 'b', 'c', 'a', 'b', 'c')
('a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3)

In [4]:
tup1[0] = 'e'
print(tup1[0])

TypeError: 'tuple' object does not support item assignment

In [5]:
tup4 = ('a',[1,2,3],'b','c')
print(tup4)

tup4[1][0] = 'd'
print(tup4)

('a', [1, 2, 3], 'b', 'c')
('a', ['d', 2, 3], 'b', 'c')

In [6]:
print(type(tup4))
tup4 = list(tup4)
print(type(tup4))
tup4 = tuple(tup4)
print(type(tup4))

<class 'tuple'>
<class 'list'>
<class 'tuple'>

In [7]:
ta = (5,4,12,11)

def tsort(t):
    t = list(t)
    t.sort()
    t = tuple(t)
    return t

print(tsort(ta))

(4, 5, 11, 12)

In [8]:
print(tup1)
var1,var2,var3 = tup1
print(var1,var2,var3)

('a', 'b', 'c')
a b c

In [9]:
ta = (1,2,30000)
tb = (1,3,0)

print(ta == tb)
print(ta > tb)
print(ta < tb)

False
False
True